.popup__submit {
    font-family: 'Inter', Arial, sans-serif;
    width: 100%;
    min-height: 50px;
    margin-top: 48px;
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.21;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
    cursor: pointer;
  }