.element__button-like {
    background-image: url(../../../images/button-like.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 240px;
    text-align: center;
}

.element__button-like:hover {
    opacity: 0.5;
}